<!DOCTYPE html>
<html lang="en">
<head>
    {# Include standard head content like meta tags, title, and external CSS links #}
    {% include 'includes/head_content.html' %}

    {# Include the main CSS styles #}
    {% block styles %}
        {% include 'includes/global_styles.html' %}
    {% endblock %}
</head>
<body>
    {# This block will be filled by templates extending base.html,
       typically holding the main page structure like header, sidebar, and content. #}
    {% block content %}{% endblock %}

    {# Include external JavaScript libraries and custom scripts #}
    {% block scripts %}
        {% include 'includes/scripts_footer.html' %}
    {% endblock %}
</body>
</html>