{# templates/layouts/sidebar.html #}
{# The main dashboard sidebar #}

<div class="sidebar">
    {# Navigation Tabs #}
    {% include 'sidebar_parts/navigation.html' %}

    <hr>

    {# Server Info Card #}
    {% include 'sidebar_parts/server_info_card.html' %}

    {# Controls Card #}
    {% include 'sidebar_parts/controls_card.html' %}

    {# Token Management Section #}
    {% include 'sidebar_parts/token_management_card.html' %}

    {# Node Details Area (in sidebar) #}
    {% include 'sidebar_parts/node_details_card.html' %}

</div> {# /.sidebar #}